apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rocketpool-smartnode.fullname" . }}-config
  labels:
    app.kubernetes.io/name: {{ include "rocketpool-smartnode.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  user-settings.yml: |
{{ tpl (.Files.Get "config/user-settings.yml") . | nindent 4 }}
      
